<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>255</integer>
			<key>b</key>
			<integer>85</integer>
		</dict>
		<key>spentValue</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>cart</string>
		<key>name</key>
		<string>Stuff</string>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>88</integer>
			<key>g</key>
			<integer>112</integer>
			<key>b</key>
			<integer>96</integer>
		</dict>
		<key>spentValue</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>bus</string>
		<key>name</key>
		<string>Bus</string>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>212</integer>
			<key>g</key>
			<integer>255</integer>
			<key>b</key>
			<integer>236</integer>
		</dict>
		<key>spentValue</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>car</string>
		<key>name</key>
		<string>Services</string>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>226</integer>
			<key>g</key>
			<integer>215</integer>
			<key>b</key>
			<integer>250</integer>
		</dict>
		<key>spentValue</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>education</string>
		<key>name</key>
		<string>Education</string>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>112</integer>
			<key>g</key>
			<integer>46</integer>
			<key>b</key>
			<integer>255</integer>
		</dict>
		<key>spentValue</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>fuel</string>
		<key>name</key>
		<string>Fuel</string>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
		<key>spentValue</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>globe</string>
		<key>name</key>
		<string>Internet</string>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
		<key>spentValue</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>home</string>
		<key>name</key>
		<string>House</string>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
		<key>spentValue</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>lunches</string>
		<key>name</key>
		<string>Lunches</string>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
		<key>spentValue</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>phone</string>
		<key>name</key>
		<string>Mobile</string>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
		<key>spentValue</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>shirt</string>
		<key>name</key>
		<string>Clothes</string>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
		<key>spentValue</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>taxi</string>
		<key>name</key>
		<string>Taxi</string>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
		<key>spentValue</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>food</string>
		<key>name</key>
		<string>Food</string>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
		<key>spentValue</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>sport</string>
		<key>name</key>
		<string>Sport</string>
	</dict>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<integer>0</integer>
			<key>g</key>
			<integer>0</integer>
			<key>b</key>
			<integer>0</integer>
		</dict>
		<key>spentValue</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>entertainment</string>
		<key>name</key>
		<string>Relax</string>
	</dict>
</array>
</plist>
